<div class="footer">
    <h2>{{title}}</h2>
    <h4>{{fio}}Мария Сироткина</h4>
</div>
<div class="object">
    <h1>Калькулятор логических действий</h1>
    <label></label>
    <input [(ngModel)]="firstOperand" type="number" min="0" max="1">
    <select [(ngModel)]="operator">
    <option value="&&">и</option>
    <option value="||">или</option>
  </select>
    <input [(ngModel)]="secondOperand" type="number" min="0" max="1">
    <input (click)="doCalc()" type="submit" value="Подтвердить">
    <h4>Результат: {{ result }}</h4>
    <h5>Текст ошибки: {{ errorMessage }}</h5>